{% extends "model.html" %}

{% block title %}Criar Conta{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage/hamburger.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/logs/logs.css') }}">
{% endblock %}

{% block body %}
    <header>
        {% include 'navbar.html' %}
    </header>

    <main>
        <form method="POST">
            <h1>Sign up</h1>
            {{ form.csrf_token }}

            <div class="it">
                {{ form.email.label() }}
                {{ form.email(class_='form-control') }}
            </div>

            <div class="it">
                {{ form.username.label() }}
                {{ form.username(class_='form-control') }}
            </div>

            <div class="it">
                {{ form.password.label() }}
                {{ form.password(class_='form-control') }}
            </div>

            <div class="it">
                {{ form.confirm_password.label() }}
                {{ form.confirm_password(class_='form-control') }}
            </div>

            {{ form.submit(class_='btn') }}

            {% if form.errors %}
                <div class="form-errors">
                    <ul style="padding: 10px;">
                        {% for field, errors in form.errors.items() %}
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </form>

        <a href="{{ url_for('login') }}">Já tem uma conta? Clique aqui para entrar.</a>
    </main>
{% endblock %}
